

<ion-content  _ngcontent-ng-c972382060=""
class="md content-rtl" style="--offset-top: 0px; --offset-bottom: 0px;">
<div  _ngcontent-ng-c972382060="" style=" height: 100vh; display: flex; align-items: center; justify-content: center;">
  <div style="display: flex; flex-direction: column;text-align: center;">
    <img src="assets/images/logo-light.png" alt="ShopyIq" style="margin-bottom: 2rem;" >
    <h4  _ngcontent-ng-c972382060="" style="color: #ff8100a8; font-weight: bold; align-items: center;">Shopy Online Shopping</h4>
    <ion-progress-bar _ngcontent-ng-c972382060="" color="medium" type="indeterminate" role="progressbar" aria-valuemin="0" aria-valuemax="1" class="ion-color ion-color-medium md progress-bar-indeterminate progress-bar-reversed" type="indeterminate"></ion-progress-bar>
  </div>
 </div>
</ion-content>
