<ion-content>
  <ion-toolbar class="ion-color ion-color-light md in-toolbar">
    <div class="ion-padding " style="text-align: center;">
      <div style="font-weight: bold;">Catagory Catagory</div>
      <div style="font-size: small; padding-top: 5px;">545 products</div>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid class="md">
      <ion-row class="md">
        <ion-col _ngcontent-ng-c1027694040 clo="6" class="md">
          <div style="display: flex; align-items: center; justify-content: center;">
            <ion-button size="small" fill="clear" color="primary">
              <ion-icon name="funnel" style="color: sandybrown;"></ion-icon>
              <ion-label style="color: sandybrown;">Sorting</ion-label>
            </ion-button>
          </div>
        </ion-col>
        <ion-col _ngcontent-ng-c1027694040 clo="6" class="md">
          <div style="display: flex; align-items: center; justify-content: center;">
            <ion-button size="small" fill="clear" color="primary">
              <ion-icon name="options" style="color: sandybrown;"></ion-icon>
              <ion-label style="color: sandybrown;">Sorting</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div>
    <div>
      <ion-chip class="md chipe-outline ion-activatable">Outline</ion-chip>
      <ion-chip>Outline</ion-chip>
      <ion-chip>Outline</ion-chip>
      <ion-chip>Outline</ion-chip>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col _ngcontent-ng-c253642629 class="md" size="6"
        style="flex: 0 0 calc(calc(6/var(--ion-grid-colums,12))*100); width: calc(calc(6/var(--ion-grid-colums,12))*100);">
        <ion-card routerLink="/item-details">
          <img src="assets/images/zoom.jpg">
          <ion-card-header>
            <ion-card-subtitle>
              <div>
                <span style="font-weight:bold;">ديفاكتو</span>
                جوارب قطنية نسائية
              </div>
            </ion-card-subtitle>
            <ion-subtitle style="color: sandybrown;">
              $15.9
            </ion-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col _ngcontent-ng-c253642629 class="md" size="6"
        style="flex: 0 0 calc(calc(6/var(--ion-grid-colums,12))*100); width: calc(calc(6/var(--ion-grid-colums,12))*100);">
        <ion-card routerLink="/item-details">
          <img src="assets/images/zoom.jpg">
          <ion-card-header>
            <ion-card-subtitle>
              <div>
                <span style="font-weight: bold;">ديفاكتو</span>
                جوارب قطنية نسائية
              </div>
            </ion-card-subtitle>
            <ion-subtitle style="color: sandybrown;">
              $15.9
            </ion-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col _ngcontent-ng-c253642629 class="md" size="6">
        <ion-card routerLink="/item-details">
          <img src="assets/images/zoom.jpg">
          <ion-card-header>
            <ion-card-subtitle>
              <div>
                <span style="font-weight: bold;">ديفاكتو</span>
                جوارب قطنية نسائية
              </div>
            </ion-card-subtitle>
            <ion-subtitle style="color: sandybrown;">
              $15.9
            </ion-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col _ngcontent-ng-c253642629 class="md" size="6">
        <ion-card routerLink="/item-details">
          <img src="assets/images/zoom.jpg">
          <ion-card-header>
            <ion-card-subtitle>
              <div>
                <span style="font-weight: bold;">ديفاكتو</span>
                جوارب قطنية نسائية
              </div>
            </ion-card-subtitle>
            <ion-subtitle style="color: sandybrown;">
              $15.9
            </ion-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <p>Search input: {{ searchInput }}</p> -->
</ion-content>