
<ion-content >

  <ion-header>
    <ion-toolbar class="ion-color ion-color-light md in-toolbar" >
    <div class="ion-padding " style="text-align: center;">
      catagory catagory <br>
      product 523
    </div>
    
    </ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" offset="4">
          <ion-segment-button value="default">
            <ion-label>FILTER</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="2">
          <ion-segment-button value="default">
            <ion-label>SORTING</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>   
   
  <!-- <h1 class="title">My Orders</h1>

  <div class="order-items" >
    <ion-card mode="ios" *ngFor="let foods of food ">
      <ion-card-content>
        <div class="item-img">
          <img src={{foods.img}} />
        </div>

        <div class="item-info"  >
         <p>{{foods.name}}</p>
        <p>Lotto.LTD</p>
          <p>$34.00</p>

          <ion-button expand="block" class="main-button" routerLink="/item-details">Order Now</ion-button>
        </div>
      </ion-card-content>
    </ion-card> -->


    <ion-grid>
      <ion-row >
        <ion-col size="6" class="md" style="flex: 0 0 calc();">
          <ion-card class="ion-no-margin md" routerLink="/item-details">
          <img alt="Silhouette of mountains" src="assets/images/org_zoom.jpg" />
          <ion-card-header>
            <ion-card-title>ديفاكتو جوار</ion-card-title>
            <ion-card-subtitle>نسائية</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            15.9$
          </ion-card-content>
        </ion-card> </ion-col>
        <ion-col size="6"> 
          <ion-card class="ion-no-margin md" routerLink="/item-details">
            <img alt="Silhouette of mountains" src="assets/images/org_zoom.jpg" />
            <ion-card-header>
              <ion-card-title> ديفاكتو جوار</ion-card-title>
              <ion-card-subtitle>نسائية</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              15.9$
            </ion-card-content>
          </ion-card> </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row >
        <ion-col size="6" class="md" style="flex: 0 0 calc();">
          <ion-card class="ion-no-margin md" routerLink="/item-details">
          <img alt="Silhouette of mountains" src="assets/images/org_zoom.jpg" />
          <ion-card-header>
            <ion-card-title> ديفاكتو</ion-card-title>
            <ion-card-subtitle>نسائية</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            15.9$
          </ion-card-content>
        </ion-card> </ion-col>
        <ion-col size="6"> 
          <ion-card class="ion-no-margin md" routerLink="/item-details">
            <img alt="Silhouette of mountains" src="assets/images/org_zoom.jpg" />
            <ion-card-header>
              <ion-card-title> ديفاكتو</ion-card-title>
              <ion-card-subtitle>نسائية</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              15.9$
            </ion-card-content>
          </ion-card> </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>