<ion-card style="height: 90vh;">
    <!-- <ion-card-header _ngcontent-ng-c2644260650="" class="ion-inherit-color md"><ion-card-title _ngcontent-ng-c2644260650="" role="heading" aria-level="2" class="ion-inherit-color md">Login</ion-card-title></ion-card-header>
    <ion-item>
        <ion-input>
        <ion-label position="stacked">
            <ion-select [(ngModel)]="selectedCountryCode">
                <ion-select-option value="+1">United States (+1)</ion-select-option>
                 -->
                <!-- Add more country codes as needed -->
              <!-- </ion-select>
        </ion-label>
        </ion-input>
       
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber" aria-placeholder=""></ion-input>
      </ion-item>
    
    <ion-card-content>
<br _ngcontent-ng-c655788210="">
<ion-button _ngcontent-ng-c2644260650="" class="ion-dd" style="color: black;">Login</ion-button>
 -->


<div class="ion-select-box">
    <div>
       
        <ion-input placeholder="phone"><span class="flag--be-4x3"></span> +44</ion-input>
        <ion-input placeholder="phone"></ion-input>
    </div>
</div>
<ol>
    <li class="ion-select-option">
        <div>
            <span class="flag--be-4x3"></span> 
            <span >kk</span>
        </div>
        <label>+$444</label>
    </li>
    <li class="ion-select-option">
        <div>
            <span class="flag--be-4x3"></span> 
            <span>uugnnf</span>
        </div>
        <label>+$444</label>
    </li>
</ol>
<!-- </ion-card-content> -->
</ion-card>