<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" style="color: sandybrown"></ion-back-button>
    </ion-buttons>
    <ion-icon  style="width: 50px; height: 30px; color: sandybrown;" slot="end" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header class="md">
      <ion-label>Ahmad Almunajjed</ion-label>
      <div>
        <ion-list-header>
          <ion-button style="color: rgb(243, 147, 63)" routerLink="/editprofile">Edit Profile</ion-button>
        </ion-list-header>
      </div>
    </ion-list-header>
    <ion-list-header class="ion-padding">
      <ion-label> Guest</ion-label>
      <ion-button id="open-modal" expand="block" style="color: rgb(243, 147, 63)" (click)="setOpen(true)">
        login</ion-button>
        
       <ion-modal #modal trigger="open-modal" [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
           
          <ion-header class="ion-no-border">
            <ion-toolbar style="background: transparent; --opacity: 0">
              <ion-title slot="end">Login</ion-title>
              <ion-buttons slot="start">
                <ion-buttons (click)="setOpen(false)">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-buttons>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <div class="code-section">
            <div class="ion-margin" *ngIf="showSecondSection">
              <div class="images" style="
                display: flex;
                align-items: flex-end;
                justify-content: left;
                font-size: 12vw;">
                <img class="img" src="assets/images/logo-light.png" style="width: 140px;" />
              </div>
              <ion-label style="
                display: flex;
                align-items: flex-end;
                justify-content: left; ">
                <h1 class="ion-margin-bottom">
                  Login to Shopy
                </h1>
              </ion-label>
            </div>
           
<div *ngIf="!showSecondSection" >
  

  <div class="ion-margin">
    <div class="images">
      <img class="img" src="assets/images/logo-light.png" style="width: 140px;" />
    </div>
    <ion-label class="ion-margin-bottom" style="
      display: flex;
      align-items: flex-end;
      justify-content: left;
      font-size: larger;
    ">
      <h1>Enter code sent to you</h1>
    </ion-label>
  </div>

  <ion-item>
    <ion-input class="ion-text-center" type="number" fill="outline" placeholder="0000"></ion-input>
  </ion-item>
  <ion-button class="button-clear" expand="block" fill="clear" style="color: rgb(232, 134, 64)"
    (click)="startCountdown()">
    Send again
  </ion-button>
  <br>
  @if(loading){
  <div class="ion-text-center">after 00: {{ countdown }} seconds</div><br>}
  <ion-button (click)="closeModal()" shape="round" expand="block" routerLink="/home"
    style="border-radius: 90px">
    Login
  </ion-button>

</div>


          
          
 
    
      <div *ngIf="showSecondSection">
     
        <ion-button expand="block" (click)="setOpen(true)" (click)="onContinueClick()" shape="round">
          COUNTINUE WITH WHATSAPP
        </ion-button>
      </div>
  
      <div *ngIf="showSecondSection">
        <ion-button class="ion-margin-vertical" shape="round" expand="block" fill="outline" (click)="setOpen(true)"
          (click)="onContinueClick()">
          COUNTINUE WITH SMS
        </ion-button>
      </div>
  

    </div>
    
             
           
      
     
   

          
 
        </ng-template>
      </ion-modal>
 
    </ion-list-header>

    <ion-item>
      <ion-icon name="list" slot="start" style="color: sandybrown"></ion-icon>
      <ion-label>All Orders</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="help-circle-outline" slot="start" style="color: sandybrown"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" slot="start" style="color: sandybrown"></ion-icon>
      <ion-label>Select Country</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle-outline" slot="start" style="color: sandybrown"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center">version 12.456.45</ion-label>
    </ion-item>
  </ion-list>
   
</ion-content>