ion-select-option{
    background-image:url("../../assets/images/germany.png") ;
}
  

    ion-input ion-select {
    
      pointer-events: all;
     
     
    }
  
    ion-select-option{
        background-image: url("../../assets/images/globe.png");
    }
  
    .block {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      ion-modal {
        --height: auto;
      }
  
 
  
  
  ::ng-deep .country-codes {
    --width: 95%;
    --max-width: 320px;
    --max-height: 50%;
  
    ion-radio {
      font-size: medium;
    }
  
    ::part(container) {
      display: none;
    }
    
    ::ng-deep ion-select-popover ion-list, ::ng-deep ion-select-popover ion-list ion-item {
      --background: #f2f2f2 !important;
      background: #f2f2f2 !important;
    
    }
  }
.span{
  align-items: center;
   justify-content: left;
}
.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height:700px;
}

.images {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  top: 0;
}
h1{
  font-size: 30px;
  font-weight: 600;
}
.code-section{
  margin-block-end: auto;
}

/* Styles for the intl-tel-input component */
.intl-tel-input {
  position: relative;
  display: block;
}

/* Custom styles for the dropdown */
.intl-tel-input .country-list {
  max-height: 200px; /* Limit height and enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  border: 1px solid #ccc; /* Add a subtle border */
  border-radius: 4px; /* Match your design's border radius */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
}

/* Enhancing the visibility of the scrollbar */
.intl-tel-input .country-list::-webkit-scrollbar {
  width: 10px;
}

.intl-tel-input .country-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.intl-tel-input .country-list::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Style the selected flag dropdown button */
.intl-tel-input .selected-flag {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

/* Style adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .intl-tel-input .country-list {
    width: 100%; /* Full width on small screens */
  }
}