ion-select-option{
    background-image:url("../../assets/images/germany.png") ;
}
  

    ion-input ion-select {
    
      pointer-events: all;
     
     
    }
  
    ion-select-option{
        background-image: url("../../assets/images/globe.png");
    }
  
    .block {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      ion-modal {
        --height: auto;
      }
  
 
  
  
  ::ng-deep .country-codes {
    --width: 95%;
    --max-width: 320px;
    --max-height: 50%;
  
    ion-radio {
      font-size: medium;
    }
  
    ::part(container) {
      display: none;
    }
    
    ::ng-deep ion-select-popover ion-list, ::ng-deep ion-select-popover ion-list ion-item {
      --background: #f2f2f2 !important;
      background: #f2f2f2 !important;
    
    }
  }
.span{
  align-items: center;
   justify-content: left;
}
.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height:700px;
}

.images {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  top: 0;
}
h1{
  font-size: 30px;
  font-weight: 600;
}
.code-section{
  margin-block-end: auto;
}

