

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     
     <ion-button routerLink="/signup">signin</ion-button>
    
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <div class="title ion-padding">
    <h2>Categories</h2>
    <p>See all</p>
    <swiper-container>
      <swiper-slide><img src="assets/images/food6.jpg" style="width: 1700px; "></swiper-slide>
      <swiper-slide><img src="assets/images/food2.jpg"  style="width: 1700px; "></swiper-slide>
      <swiper-slide><img src="assets/images/food5.jpg"  style="width: 1700px; "></swiper-slide>
    </swiper-container>
  </div>
<app-order></app-order>