
  
  .badge {
  
    background-color: rgb(247, 235, 235);
    color: rgb(245, 161, 50);
 
    border-radius: 50%;
 
    animation: animated-button 0.5s infinite alternate;
   
  }
  
  @keyframes animated-button {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
ion-segment-button {
    --indicator-color: #ee8c31;
  }
  
  /* Material Design styles */
  ion-segment-button.md {
    --color: #000;
    --color-checked: #eb9b2c;
    --indicator-height: 4px;
  }
  
  /* iOS styles */
  ion-segment-button.ios {
    --color: #d47c25;
    --color-checked: #fff;
    --border-radius: 20px;
  }