


ion-button {
    --background: #f17414;
    --background-hover:  #f17414;
    --background-activated: #f17414;
    --background-focused:  #f17414;
  
   
  
  }
  .badge {
  
    background-color: rgb(239, 239, 239);
    color: white;
 
    border-radius: 50%;
 
    animation: animated-button 0.5s infinite alternate;
  }
  
  @keyframes animated-button {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

