<ion-header style="position: absolute;"role="banner" class="md header-md header-collapse-none">
  <ion-toolbar style="background:transparent;--opacity:0" class="md in-toolbar">
    <ion-buttons slot="start">
    
        
          <ion-buttons slot="start">
            <ion-back-button default-href="#" style="color: tomato;"></ion-back-button>
          </ion-buttons>
          
      
      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 
  <swiper-container dir="rtl" space-between="7" navigation="true" thumbs-swiper=".mySwiper2" style="--swiper-navigation-color:#fff; --swiper-pagination-color:#fff">
    <swiper-slide class="swiper-slide-prev" role="group"  aria-label="1/7" style="width: 360px; margin-left: 10px;">
      <img src="assets/images/nature-1.jpg"></swiper-slide>
    <swiper-slide class="swiper-slide-active" role="group"  aria-label="2/7"><img src="assets/images/nature-2.jpg"></swiper-slide>
    <swiper-slide class="swiper-slide-next" role="group"  aria-label="3/7"><img src="assets/images/nature-3.jpg"></swiper-slide>
    <swiper-slide role="group"  aria-label="4/7"><img src="assets/images/nature-4.jpg"></swiper-slide>
    <swiper-slide role="group"  aria-label="5/7"><img src="assets/images/nature-5.jpg"></swiper-slide>
    <swiper-slide role="group"  aria-label="6/7"><img src="assets/images/nature-6.jpg"></swiper-slide>
    <swiper-slide role="group"  aria-label="7/7"><img src="assets/images/nature-7.jpg"></swiper-slide>

  </swiper-container>

  <swiper-container style="--swiper-navigation-color:#fff" dir="rtl" space-between="7" slider-per-view="4" free-mode="true" class="mySwiper2"watch-slides-progress="true" >
  
    
    
    <swiper-slide style="width:360px ;margin-left: 10px;"  role="group"  aria-label="1/7" >
      <img src="assets/images/nature-1.jpg" >
    </swiper-slide>
    
    <swiper-slide _ngcontent-ng-c2337211279 style="width:360px ;margin-left: 10px;"  role="group"  aria-label="1/7" ><img src="assets/images/nature-2.jpg">
    </swiper-slide>
    
    <swiper-slide _ngcontent-ng-c2337211279 style="width:360px ;margin-left: 10px;"  role="group"  aria-label="1/7" ><img src="assets/images/nature-3.jpg">
    </swiper-slide>
    
    <swiper-slide _ngcontent-ng-c2337211279 style="width:360px ;margin-left: 10px;" role="group"  aria-label="1/7" ><img src="assets/images/nature-4.jpg">
    </swiper-slide>
    
    <swiper-slide _ngcontent-ng-c2337211279 style="width:360px ;margin-left: 10px;" role="group"  aria-label="1/7" ><img src="assets/images/nature-5.jpg">
    </swiper-slide>
    
    <swiper-slide _ngcontent-ng-c2337211279  role="group"  aria-label="1/7" ><img src="assets/images/nature-6.jpg">
    </swiper-slide>
    
    <swiper-slide _ngcontent-ng-c2337211279  role="group"  aria-label="1/7" ><img src="assets/images/nature-7.jpg">
    </swiper-slide>
  </swiper-container>
  

<div class="ion-padding-vertical">
  <h1 class="item-name">
    <span style="text-decoration: underline;">ديفاكتو</span>
    جوارب قطنية نسائية
  </h1>
</div>

<div >
  <h2>$45.79</h2>
</div>


<div>
  <ion-icon name="star" style="color: sandybrown;"></ion-icon>
  <ion-icon name="star" style="color: sandybrown;"></ion-icon>
  <ion-icon name="star" style="color: sandybrown;"></ion-icon>
  <ion-icon name="star" style="color: sandybrown;"></ion-icon>
  <ion-icon name="star"></ion-icon>
</div>




</ion-content>

<ion-footer>
<ion-toolbar>
  
   <ion-button  expand="block" style="color: sandybrown;padding-right: 10px;" >

<ion-label slot="start" >Add to Cart</ion-label>

  </ion-button> 

  <ion-buttons _ngcontent-ng-c2337211279="" slot="end" >
  <ion-button _ngcontent-ng-c2337211279="" size="small" fill="outline" class="md button button-
  button-outline in-toolbar in-buttons button-
 -icon-only ion-activatable ion-focusable">
 <ion-icon _ngcontent-ng-c2337211279="" slot="icon-only" name="remove" role="img" class="md"></ion-icon>
 </ion-button>
 <label>1</label>
 <!-- <ion-input _ngcontent-ng-c384435718="" slot="center" class="sc-ion-input-md-h sc-ion-input-md-s md input-label-placement-start">1<label class="input-wrapper sc-ion-input-md" for="ion-input-0"><div class="label-text-wrapper label-text-wrapper-hidden sc-ion-input-md sc-ion-input-md-s"></div><div class="native-wrapper sc-ion-input-md sc-ion-input-md-s"><input class="native-input sc-ion-input-md" id="ion-input-0" autocapitalize="off" autocomplete="off" autocorrect="off" name="ion-input-0" placeholder="" spellcheck="false" type="text"></div><div class="input-highlight sc-ion-input-md"></div></label></ion-input> -->
 <ion-button fill="outline">
  <ion-icon name="add" ></ion-icon>
 </ion-button>
 
</ion-buttons>

</ion-toolbar>


</ion-footer>
